<div class="question">
  <h3><%= link_to "Paper- #{question.name} ", question.question_paper_url%></h3>
  <div class="details">

    <% if question.course_id %>
      <h5> Course ID: <%= question.course_id %> | Semester : <%= question.paper_id %></h5>
    <% end %>
  </div>
</div>
