<br />
<% if !@question.errors.empty? %>
  <div class="alert alert-warning alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <% @question.errors.full_messages.each do |msg| %>

        <strong><%= msg %></strong></br>
      <% end %>
  </div>
<% end %>

<h2>Upload Question Paper </h2>

<%= form_for @question do |f| %>

  <div  class="btn-group btn-default btn-lg dropdown-toggle">
    <%= f.label :course_id %><br />
    <%= f.collection_select :course_id, Course.order(:name), :id, :name, include_blank: true %>
  </div>
  <div  class="btn-group btn-default btn-lg dropdown-toggle">
    <%= f.label :paper_id, "Select Semesters" %><br />
    <%= f.grouped_collection_select :paper_id, Course.order(:name), :paper, :name, :id, :name, include_blank: true %>
  </div><br />
<div class="well">
    <%= f.label :name, "Attachment Name" %><br />
    <%= f.text_field :name %>
    <%= f.file_field :question_paper, class: "btn" %>


    <%= f.submit "Upload Assingment", class: "btn btn-primary" %>
<% end %>
</div>
