<div class="col-md-8" style="margin-left: 300px; padding-left: 0px; padding-right: 200px; border-top-width: 0px; margin-top: 51px;">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="contact-form">
  <span><%= f.label :email %></span>
<span><%= f.email_field :email, :class=> 'email form-control', :placeholder=>"Email", required: true %></span>

<label class="fa-btn btn-1 btn-1e"><%= f.submit "Resend confirmation instructions" %></label>
</div>
<% end %>

<%#= render "devise/shared/links" %>
