<%= {"staging"=> {"adapter"=>"mysql2", "encoding"=>"utf8", "reconnect"=>true, "database"=>"sumas", "pool"=>15,
                     "reaping_frequency"=> 25, "username"=>"root", "password"=> "sa", "port" => 3306,
                     "host"=>"localhost"}}.to_yaml%>