<div class="col-md-8" style="margin-left: 300px; padding-left: 0px; padding-right: 200px; border-top-width: 0px; margin-top: 51px;">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <span><%= f.label :email %></span>
      <span><%= f.email_field :email, :class => 'email form-control', :placeholder => "Email", required: true %></span>

      <div><span><%= f.label :password %></span>
        <span><%= f.password_field :password, :class => 'password form-control', :placeholder => "Password", required: true %></span>
      </div>
      <div>
        <span><%= f.label :password_confirmation %></span>
        <span><%= f.password_field :password_confirmation, :class => 'password form-control', :placeholder => "Confirmation Password", required: true, autocomplete: "off" %></span>
      </div>

      <%= f.submit "Sign Up", class: "fa-btn btn-1 btn-1e pull-right", style: "margin-top: 20px" %>

  <% end %>
</div>
<div class="container">
<%= render "devise/shared/links" %>
</div>