<div class="download">
  <h3><%= link_to "Paper- #{download.name} ", download.attachment_url %></h3>
  <div class="details">

    <% if download.course_id %>
      <h5> Course ID: <%= download.course_id %> | Semester : <%= download.paper_id %></h5>
    <% end %>
  </div>
</div>
