<div class="main_bg">
	<div class="container">
		<div class="technology row">
			<h2>our courses</h2>
			<div class="technology_list">
				<h4>1.BCA/MCA, MBA etc. Classes in Delhi</h4>
				<div class="col-md-10 tech_para">
					<p class="para">Sumas classes are designed for students of Indira Gandhi National Open University(IGNOU) for 100% Result Orientation under the Guidance of Experience facilities & Software Experts.Sumas Team is working with an experience of more than decades in training & development ensures & offers quality education at a reasonable fees.</p>
				</div>
				<div class="col-md-2 images_1_of_4 bg1 pull-right">
					<span class="bg"><i class="fa fa-files-o"></i> </span>
				</div>
				<div class="clearfix"></div>
				<div class="read_more">
					<a href="/course/show" class="fa-btn btn-1 btn-1e">read more</a>
				</div>
			</div>
			<div class="technology_list1">
				<h4>2.BCA/MCA Final Project Training for IGNOU, PDU, MDU, PTU</h4>
				<div class="col-md-10 tech_para">
					<p class="para">Sumas Technologies Offer 6week/6 month Live Project Training in Technologies Like .Net (visual studio 2010) framework4.0, JAVA, J2EE, PHP,Ruby on Rails, C, C++ with their Industry Expert Giving Exposure on Analysis to Development Cycle of System.</p>
				</div>
				<div class="col-md-2 images_1_of_4 bg1">
					<span class="bg"><i class="fa fa-laptop"></i> </span>
				</div>
				<div class="clearfix"></div>
				<div class="read_more">
					<a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
				</div>
			</div>
			<div class="technology_list1">
				<h4>3.DotNet 2010 with C# Training</h4>
				<div class="col-md-10 tech_para">
					<p class="para">Asp.Net is a server-side scripting language that enables a user to create dynamic web applications. It can be used for creating large enterprise class applications, complex websites and applications which can be created using this dynamic programming language..</p>
				</div>
				<div class="col-md-2 images_1_of_4 bg1">
					<span class="bg"><i class="fa fa-cog"></i></span>
				</div>
				<div class="clearfix"></div>
				<div class="read_more">
					<a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
				</div>
			</div>
			<div class="technology_list1">
				<h4>4. Ruby on Technology Training</h4>
				<div class="col-md-10 tech_para">
					<p class="para">Java Technology TrainingThis course provides an insight into the development of Window & Web-based applications. With the increased use of the Internet and advances in information technology, website developers need to quickly create websites that are efficient and effective.</p>
				</div>
				<div class="col-md-2 images_1_of_4 bg1">
					<span class="bg"><i class="fa fa-files-o"></i> </span>
				</div>
				<div class="clearfix"></div>
				<div class="read_more">
					<a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
				</div>
			</div>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>

		</div>
	</div>
</div><!-- end main -->
