<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="about details row">
      <h2>BCA, BBA, B.Tech, MCA, MBA etc. Classes in Delhi</h2>
      <img src="images/det_pic.jpg" alt="" class="img-responsive"/>
      <%= image_tag "det_pic.jpg", class: "img-responsive" %>
      <p class="para">BCA, BBA, B.Tech, MCA, MBA
        Sumas classes are designed for students of Indira Gandhi National Open University(IGNOU) for 100% Result
        Orientation under the Guidance of Experience facilities & Software Experts.Sumas Team is working with an
        experience of more than decades in training & development ensures & offers quality education at a reasonable
        fees.</p>

      <h2>BCA/MCA Final Project Training for IGNOU, PDU, MDU, PTU</h2>

      <p class="para">
        Sumas Technologies Offer 6week/6 month Live Project Training in Technologies Like .Net (visual studio 2010)
        framework4.0, JAVA, J2EE, PHP, C, C++ with their Industry Expert Giving Exposure on Analysis to Development
        Cycle of System.
      </p>

      <h2>Universities</h2>

      <p class="para">
      <ul class="para">
        <li>Indira Gandhi National Open University (IGNOU)</li>
        <li>Guru Gobind Singh Indraprastha University (GGSIP)</li>
        <li>Delhi University (DU)</li>
        <li>Punjab Technical University (PTU)</li>
        <li>Maharshi Dayanand University (MDU)</li>
        <li>Sikkim Manipal University (SMU)</li>
        <li>Guru Jambheshwar University (GJU)</li>
        <li>Lovely Professional University (LPU)</li>
        <li>Jawahar Lal Nehru University (JLNU)</li>
        <li>AMITY UniversityMahatma Gandhi University (MGU)</li>
      </ul>
      </p>
      <a href="#" class="fa-btn btn-1 btn-1e">read more</a>
    </div>
  </div>
</div><!-- end main -->
