#!/bin/sh
set -e

# Feel free to change any of the following variables for your app:
TIMEOUT=${TIMEOUT-60}
APP_ROOT=<%= File.join(deploy_to, current_path) %>
PID_DIR=<%= File.join(deploy_to, shared_path, 'pids') %>
PID=$PID_DIR/unicorn.pid
CMD="cd $APP_ROOT;  bundle exec unicorn -D -c <%= "#{File.join(deploy_to, shared_path)}/config/unicorn.rb" %> -E <%= rails_env.to_s %>"
AS_USER=ubuntu
set -u

OLD_PIN="$PID.oldbin"

sig () {
test -s "$PID" && kill -$1 `cat $PID`
}

oldsig () {
test -s $OLD_PIN && kill -$1 `cat $OLD_PIN`
}

workersig () {
workerpid="$PID_DIR/unicorn.$2.pid"

test -s "$workerpid" && kill -$1 `cat $workerpid`
}

run () {
if [ "$(id -un)" = "$AS_USER" ]; then
eval $1
else
su -c "$1" - $AS_USER
fi
}

case "$1" in
start)
sig 0 && echo >&2 "Already running" && exit 0
run "$CMD"
;;
stop)
sig QUIT && exit 0
echo >&2 "Not running"
;;
force-stop)
sig TERM && exit 0
echo >&2 "Not running"
;;
kill_worker)
workersig QUIT $2 && exit 0
echo >&2 "Worker not running"
;;
restart|reload)
sig USR2 && echo reloaded OK && exit 0
echo >&2 "Could not reload, starting $CMD instead"
run "$CMD"
;;
upgrade)
if sig USR2 && sleep 2 && sig 0 && oldsig QUIT
then
n=$TIMEOUT
while test -s $OLD_PIN && test $n -ge 0
do
printf "." && sleep 1 && n=$(( $n - 1 ))
done
echo

if test $n -lt 0 && test -s $OLD_PIN
then
echo >&2 "$OLD_PIN still exists after $TIMEOUT seconds"
exit 1
fi
exit 0
fi
echo >&2 "Could not upgrade, starting $CMD instead"
run "$CMD"
;;
reopen-logs)
sig USR1
;;
*)
echo >&2 "Usage: $0 < start|stop|restart|upgrade|force-stop|reopen-logs>"
exit 1
;;
esac
