	<!--&lt;!&ndash;&#45;&#45;start-img-cursual&#45;&#45;&ndash;&gt;-->
					<!--<div id="owl-demo" class="owl-carousel text-center">-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c1.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Dr. Anita shingh</a></h4>-->
								<!--<p>-->
									<!--It provides a wide range of courses and programs as a result of the continuous effort to meet the needs of banking as well as all types of competitive exams-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c2.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Prachi sharma</a></h4>-->
								<!--<p> Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c3.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Khanchan Gupta</a></h4>-->
								<!--<p>It provides a wide range of courses and programs as a result of the continuous effort to meet the needs of banking as well as all types of competitive exams-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c4.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Lalit choker</a></h4>-->
								<!--<p>-->
									<!--It provides a wide range of courses and programs as a result of the continuous effort to meet the needs of banking as well as all types of competitive exams-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c2.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Sunita Chauhan</a></h4>-->
								<!--<p>-->
									 <!--Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c3.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Kiran kumari</a></h4>-->
								<!--<p>-->
								 <!--programs as a result of the continuous effort to meet the needs of banking as well as all types of competitive exams and to improve your personality on the whole.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c4.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">anil yadav</a></h4>-->
								<!--<p>-->
									 <!--Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c1.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Suman Shing</a></h4>-->
								<!--<p> Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c2.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Divya Shing</a></h4>-->
								<!--<p>-->
									 <!--Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c3.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Shashi kumari</a></h4>-->
								<!--<p>-->
									<!--These courses are designed in a manner that systematically equip them with the knowledge and techniques required for any exam and help them in their career progress.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c1.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Tina Khan</a></h4>-->
								<!--<p>T-->
									 <!--Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="cau_left">-->
								<!--<img class="lazyOwl" data-src="/assets/c4.jpg" alt="Lazy Owl Image">-->
							<!--</div>-->
							<!--<div class="cau_left">-->
								<!--<h4><a href="#">Chirag Hasija</a></h4>-->
								<!--<p>-->
									 <!--Professional and educational body for banking industry. The institute provides you with industry focused programs.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash;&#45;&#45;//End-img-cursual&#45;&#45;&ndash;&gt;-->
