<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="main row">
      <div class="col-md-3 images_1_of_4 text-center">
        <span class="bg"><i class="fa fa-globe"></i></span>
        <h4><a href="#">online Material</a></h4>

        <p class="para">Created according to industry requirements and standards, it ensures what you've learnt is
          relevant right from day one </p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-laptop"></i></span>
        <h4><a href="#">Projects Detail</a></h4>

        <p class="para">whether you choose to work, or start your own business .Rigorous and future ready, it arms you
          with a dual qualification across multiple.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-cog"></i></span>
        <h4><a href="#">Our Services</a></h4>

        <p class="para">whether you choose to work, or start your own business .Rigorous and future ready, it arms you
          with a dual qualification </p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-shield"></i> </span>
        <h4><a href="#">Creatification</a></h4>

        <p class="para">whether you choose to work, or start your own business .Rigorous and future ready, it arms you
          with a dual qualification.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
    </div>
  </div>
</div><!-- end main -->
