<div class="slider_bg"><!-- start slider -->
  <div class="container">
    <div id="da-slider" class="da-slider text-center">
      <div class="da-slide">
        <h2>a hub of maths & it</h2>

        <p>Say goodbye to the traditional way of studying and hello to a whole new world of learning at the Sumas Cloud
          Campus. Learn by interacting not just with faculty at your centre, but also with experts across India.
          Practice your concepts in the machine room supported by your Sumas faculty. Be a part of the Cloud Campus
          where studying is nothing like studying.</p>

        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
      </div>
      <div class="da-slide">
        <h2>seek goverment jobs</h2>

        <p>Revise lectures and catch up on missed classes with Lesson on Demand and brush up on the practical
          application of concepts, sitting at home. Or if you prefer studying with friends, use our group based online
          learning modules and solve assignments with your batch mates. Take charge. Be a part of a system that's truly
          built around you.</p>

        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
      </div>
      <div class="da-slide">
        <h2>grooming professinals</h2>

        <p>Anywhere Lab allows you to practice the application of concepts you have learnt in class, no matter where you
          are. The hint system lets you seek help while solving problems. In addition to this, you can also chat with
          experts to seek answers to your queries. To complete the learning process, you get tested on the concepts
          learnt at home during your Machine Room sessions at the Sumas Centre.</p>

        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
      </div>
      <div class="da-slide">
        <h2>live projects</h2>

        <p>At the Sumas Cloud Campus, you can continuously improve your performance with online practice tests. These
          include cycle tests, review tests and sample tests for preparation.</p>

        <h3 class="da-link"><a href="single-page.html" class="fa-btn btn-1 btn-1e">view more</a></h3>
      </div>
    </div>
  </div>
</div><!-- end slider -->
