<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="about row">
      <h2>about us</h2>

      <p class="para">Sumas Institute of Mathematics and Technologies is managed by a team of IT professionals, who
        offers the best professional training in information technology with over a decade of experience in computer
        education. Sumas technologies provides the quality service that exceeds the expectation of learners and is
        committed to learner's satisfaction, to fulfill the requirement of the current industry. We are expert in
        understanding your aptitude and identifying your talent and then nurture you for technical excellence so, offers
        the right training to all students either they are new to the industry or looking to improve the skills.</p>

      <p class="para">The goal of our training is to equip the Students with practical skills in various trade therefore
        they are prepared to put theoretical knowledge to practical use. Sumas offers an opportunity to the students by
        providing them the best training, a learning environment with latest hardware and software technology, the best
        infrastructure and the separate R & D department. Sumasians learns the complete cycle of software development
        which opens many career doors other then the development for their placement. Sumas Technologies is responsible
        for adding professional skills sets to students, making them capable of achieving higher goals and become
        successful in life. A completely dedicated team with industrial consultants is continuous engaged in market
        research to study future trends and generate placement opportunities as per the industry requirement. To know
        more about us and give your career a new dimension, visit us today. </p>
      <a href="#" class="fa-btn btn-1 btn-1e">read more</a>
    </div>
  </div>
</div><!-- end main -->
<div class="main_btm"><!-- start main_btm -->
  <div class="container">
    <div class="main row">
      <div class="col-md-6 content_left">
        <!--<img src="assets/pic1.jpg" alt="" class="img-responsive">-->
        <%= image_tag "pic1.jpg" %>
      </div>
      <div class="col-md-6 content_right">
        <h4>Students Testimonials :-<span>Had a great experience with  </span> Sumas Intitute of Mathematics and
          Technologies.</h4>

        <p class="para">Excellent faculty support I have ever had where in faculties not only helped me out with my
          course queries but also guided and motivated me to take right career decisions .". trainers are expert in
          their respective fields and stay connected with the industry with one medium or other. We impart real world
          experience to our Sumas Students as well as are keen on the success of each of them. We traine you in
          optimized period of time with comprehensive and accurate training. </p>


        <a href="#" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
    </div>
  </div>
</div>

