<%= render :partial => "home/index_slider" %>
<%= render :partial => "home/index_main" %>
<div class="main_btm"><!-- start main_btm -->
  <div class="container">
    <div class="main row">
      <div class="col-md-6 content_left">
        <!--<img src="/assets/pic1.jpg" alt="" class="img-responsive">-->
        <%= image_tag "pic1.jpg" %>
      </div>
      <div class="col-md-6 content_right">
        <h4>Students Testimonials :-<span>Had a great experience with  </span> Sumas Intitute of Mathematics and
          Technologies.</h4>

        <p class="para">Excellent faculty support I have ever had where in faculties not only helped me out with my
          course queries but also guided and motivated me to take right career decisions .". If you are going to use a
          passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          All the Lorem Ipsum generators on the </p>


        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
    </div>

    <%= render :partial => "home/index_cursual" %>

  </div>
</div>
