
<%= render :partial => "layouts/students_nav" %>
<div style="margin-left: 290px;">

<h1>Listing results</h1>

 <ul>
    <li>
    <div><a target="_blank" href="https://studentservices.ignou.ac.in/TE_Result/termendjune14/TermEndJun14.asp">June 2014 Exam Result (New-I)</a></div>
    </li>
    <li>
    <div><a target="_blank" href="https://studentservices.ignou.ac.in/TE_Result/termendjune14/TermEndJun142.asp">June 2014 Exam Result (New-II)&nbsp;</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termenddec13/TermEndDec13_2.asp">December 2013 Exam Result -II&nbsp;</a></div>
    </li>
    <li>
    <div><a target="_blank" href="https://studentservices.ignou.ac.in/TE_Result/termenddec13/TermEndDec13.asp">December 2013 Exam Result -I&nbsp;</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndOct13/TermEndOct13.asp">BHM, BAIHA &amp; MHA October 2013 </a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMApril13/TEBhmapr13.asp">BHM, BAIHA &amp; MHA April 2013 </a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termendjune13/TermEndjun13.asp">June 2013 Exam Result&nbsp;</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termenddec12/TermEndDec12.asp">December 2012 Exam Result</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndOct12/TermEndOct12.asp">BHM, BAIHA &amp; MHA October 2012</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termendjun12/TermEndjun12.asp">June 2012 Exam Result&nbsp;</a></div>
    </li>
    <li>
    <div><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMApril12/TEBhmapr12.asp">BHM/MHA/BAIHA Result 2012&nbsp;</a></div>
    </li>
    <li><span><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TEFCED0612/TEfced0612.asp">FCED June 2012 Exam Result</a></span></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termenddec11/TermEndDec11.asp">Results December 2011&nbsp;</a>&nbsp; &nbsp;</li>
    <li><a target="_blank" href="https://studentservices.ignou.ac.in/TE_Result/termendjun11/TermEndjun11.asp">Results June 2011</a>&nbsp;</li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMOct11/BHM1011.asp">BHM, BAIHA October-2011</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMApril11/TEBhmapr11.asp">BHM, BAIHA April-2011</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/termenddec10/TermEndDec10.asp"><span>Results December 2010</span></a></li>
    <li><span><span><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndOct10/TermEndOct10.asp">BHM, BAIHA &amp; MHA October 2010</a></span></span></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndJun10/TermEndJun10.asp">June 10 Exam Result</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMApril10/BHMApril10.asp">BHA, BAIHA, MHA April-10</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEnddec09/termenddec09.asp">December 09 Exam Result</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndJun09/termendjun09.asp">June 09 Exam Result</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMOct09/BHMOct09.asp">BHA, MHA, BAIHA Oct-09</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/BHMApril09/BHMApril09.asp">BHM, BAIHA April-09</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndDec08/TermEndDec08.asp">Dec.08 Exam Result&nbsp;</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndJun08/TermEndJun08s1.asp">June 08 (for MCA/BCA/MP)</a></li>
    <li><a target="_blank" href="http://studentservices.ignou.ac.in/TE_Result/TermEndJun08/TermEndJun08s2.asp">June 08 (for Others Programmes)</a></li>
</ul>


<%#= link_to 'New Result', new_result_path %>
