
<div class="main_bg"><!-- start main -->
	<div class="container">
		<div class="main row">
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1749.8627136237785!2d77.2062624018345!3d28.69785900530647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e04560b2c7c35ea!2sSumas+Institute+Of+IT+%26+Mathematics!5e0!3m2!1sen!2sus!4v1406888320058"></iframe><br><small><a href="https://goo.gl/maps/aKHEE" style="font-family: 'Open Sans', sans-serif;color:#555555;text-shadow:0 1px 0 #ffffff; text-align:left;font-size:12px;padding: 5px;">View Larger Map</a></small>
		</div>
	</div>



</div><!-- end main -->
<div class="main_btm"><!-- start main_btm -->
	<div class="container">
		<div class="main row">
			    <div class="col-md-4 company_ad">
				    <h2>find Address :</h2>
      				<address>
						 <p>15, Basement,</p>
						 <p>Near Gtb Metro Station Gate No-2,Ourtram Lane, </p>
						 <p>Kingsway Camp, Delhi</p>
				   		<p>Phone:+(91)-11-27606063</p>
				   		<p>Mob No:+(91)-8010243864</p>
				 	 	<p>Email: <a href="mailto:info@sumas.com">info(at)sumas.com</a></p>
				   		<p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
				   	</address>
				</div>
				<div class="col-md-8">
				 <%= form_for(@contact) do |f|  %>
				  <div class="contact-form">
				  	<h2>Contact Us</h2>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span>name</span>
						    	<span><%= f.text_field :name, :class=>'form-control',  :placeholder=>"Full Name" ,required: true%></span>
							<span>mobile number</span>
						    	<span><%= f.text_field :number, :class=>'form-control',  :placeholder=>"Number",required: true, :type=>"number" %></span>

						    </div>
						    <div>
						    	<span>e-mail</span>
						    	<span><%= f.email_field :email, :class=> 'email form-control', :placeholder=>"Email", required: true %></span>
						    </div>
						    <div>
						    	<span>subject</span>
						    	<span> <%= f.text_area :message, :class=>"form-control", :rows=>"4", :class =>"form-control", :placeholder=>"Message",required: true%></span>
						    </div>
						   <div>
						   		<label class="fa-btn btn-1 btn-1e"><%= f.submit "Send Message" %></label>
						  </div>
					    </form>
				    </div>
  			</div>
  			<div class="clearfix"></div>
   <% end %>
	</div>
</div>
</div>
