<h3>          Details       </h4>

<h4>Name -<%=@contact.name%></h3>
<hr/>
<h4>Mobile Number -<%=@contact.number%></h4>
<hr/>
<h4>Email -<%=@contact.email%></h4>
<hr/>
<h4>Subject -<%=@contact.message%></h4><br/>
