<div class="container">
  <div class="col-md-8" style="margin-left: 300px; padding-left: 0px; padding-right: 200px; border-top-width: 0px; margin-top: 51px;">

    <h2>Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="contact-form">
          <span><%= f.label :email %></span>
          <span><%= f.email_field :email, :class => 'email form-control', :placeholder => "Email", required: true %></span>

          <div><span><%= f.label :password %></span>
            <span><%= f.password_field :password, :class => 'password form-control', :placeholder => "Password", required: true %></span>
          </div>

          <% if devise_mapping.rememberable? -%>
              <span><%= f.check_box :remember_me %> <%= f.label :remember_me %></span>
          <% end %>

          <label class="fa-btn btn-1 btn-1e"><%= f.submit "Sign In" %></label>

        </div>
        <div class="container-fluid">
          <% if user_signed_in? %>
              <br/>
              Welcome to Student Portal -- <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "sign out", destroy_user_session_path, method: :get, :class => 'navbar-link' %>
          <% else %>
           <%= link_to "Sign up", new_user_registration_path, :class => 'fa-btn btn-1 btn-1e pull-right'  %>
          <% end %>
        </div>
        </div>
    <% end %>
    </div>
<%#= render "devise/shared/links" %>
