<%= render :partial => "layouts/students_nav" %>
<div style="margin-left: 290px;">
<h1>Search Assignment </h1>

<%= form_for @search do |f| %>
  <div class="contact-form">

	 <div  class="btn-group btn-default btn-lg dropdown-toggle">
			<%= f.label :course_id %><br />
		<%= f.collection_select :course_id, Course.order(:name), :id, :name, include_blank: true %>
	</div>

 <div  class="btn-group btn-default btn-lg dropdown-toggle">
  <%= f.label :paper_id, "Select Semester" %><br />
    <%= f.grouped_collection_select :paper_id, Course.order(:name), :paper, :name, :id, :name, include_blank: true %>
  </div><br />


<label class="fa-btn btn-1 btn-1e"><%= f.submit "Search" %></label>

<% end %>
</div>
<%#= render :partial => "devise/user/index" %>
