<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="main row">
      <div class="col-md-8 blog_left">
        <h4><a href="#">Welcome To Sumas Technologies!</a></h4>
        <!--<a href="#"><img src="/assets/blog_pic1.jpg" alt="" class="blog_img img-responsive"/></a>-->
        <a href="#"><%= image_tag "blog_pic1.jpg", alt: "Blog Image" ,class: "blog_img img-responsive" %></a>

        <div class="blog_list">
          <ul class="list-unstyled">
            <li><i class="fa fa-calendar-o"></i><span>June 3, 2013</span></li>
            <li><a href="#"><i class="fa fa-comment"></i><span>Comments</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i><span>Admin</span></a></li>
            <li><a href="#"><i class="fa fa-eye"></i><span>124 views</span></a></li>
          </ul>
        </div>
        <p class="para">Sumas Technologies is a leading MIS development company which aims to deliver unmatched business
          value to customers through a combination of process excellence, quality framework and service delivery
          innovation. We work to bring together a team of technology, business and social visionaries who provide the
          right balance of executive management and cutting-edge technology in dynamic business environments.

          Sumas Technologies has a result-oriented team under one roof that comprises of Software / Web / Share Point
          Consultants, Creative Designers, Developers, SEO Experts, Content Writers, Programmers, Software Developers
          and Marketing professionals. Our team has flexibility to work with the clients in a way that meets clients
          objectives. We provide extensive customer support to ensure client satisfaction with the design, functionality
          and results expected from the site.</p>

        <div class="read_more">
          <a href="#" class="fa-btn btn-1 btn-1e">view more</a>
        </div>
        <h4><a href="#">Application & Web Development</a></h4>
        <a href="#"><img src="/assets/blog_pic2.jpg" alt="" class="blog_img img-responsive"/></a>

        <div class="blog_list">
          <ul class="list-unstyled">
            <li><i class="fa fa-calendar-o"></i><span>June 3, 2013</span></li>
            <li><a href="#"><i class="fa fa-comment"></i><span>Comments</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i><span>Admin</span></a></li>
            <li><a href="#"><i class="fa fa-eye"></i><span>124 views</span></a></li>
          </ul>
        </div>
        <p class="para">We are an end-to-end supplier of software services in India by providing a range of application
          software in web and client server technologies, system integration, database management and software
          consulting.We have the best resource not only in development, also in our business model. Typically our
          involvement doesn't end with simple delivery. We will work with you during the installation and always offer
          maintenance, update services, documentation, and training services."Whether building new system or upgrading
          the old system, we contribute insight, energy, knowledge, and skill to every step of the software development
          process.</p>

        <div class="read_more">
          <a href="#" class="fa-btn btn-1 btn-1e">view more</a>
        </div>
      </div>
      <div class="col-md-4 blog_right">
        <!-- start social_network_likes -->
        <div class="social_network_likes">
          <ul class="list-unstyled">
            <li><a href="#" class="tweets">
              <div class="followers"><p><span>2k</span>Followers</p></div>
              <div class="social_network"><i class="twitter-icon"> </i></div>
            </a></li>
            <li><a href="#" class="facebook-followers">
              <div class="followers"><p><span>5k</span>Followers</p></div>
              <div class="social_network"><i class="facebook-icon"> </i></div>
            </a></li>
            <li><a href="#" class="email">
              <div class="followers"><p><span>7.5k</span>members</p></div>
              <div class="social_network"><i class="email-icon"> </i></div>
            </a></li>
            <li><a href="#" class="dribble">
              <div class="followers"><p><span>10k</span>Followers</p></div>
              <div class="social_network"><i class="dribble-icon"> </i></div>
            </a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <ul class="ads_nav list-unstyled">
          <h4>Ads 125 x 125</h4>
          <!--<li><a href="#"><img src="/assets/ads_pic.jpg" alt=""> </a></li>-->
          <li><%= image_tag "ads_pic.jpg", alt: "Blog Image"%></a></li>
          <!--<li><a href="#"><img src="/assets/ads_pic.jpg" alt=""> </a></li>-->
          <li><%= image_tag "ads_pic.jpg", alt: "Blog Image"%></a></li>
          <li><%= image_tag "ads_pic.jpg", alt: "Blog Image"%></a></li>
          <li><%= image_tag "ads_pic.jpg", alt: "Blog Image"%></a></li>
          <div class="clearfix"></div>
        </ul>
        <ul class="tag_nav list-unstyled">
          <h4>tags</h4>
          <li class="active"><a href="#">art</a></li>
          <li><a href="#">awesome</a></li>
          <li><a href="#">classic</a></li>
          <li><a href="#">photo</a></li>
          <li><a href="#">wordpress</a></li>
          <li><a href="#">videos</a></li>
          <li><a href="#">standard</a></li>
          <li><a href="#">gaming</a></li>
          <li><a href="#">photo</a></li>
          <li><a href="#">music</a></li>
          <li><a href="#">data</a></li>
          <div class="clearfix"></div>
        </ul>
        <div class="news_letter">
          <h4>news letter</h4>

          <form>
            <span><input type="text" placeholder="Your email address"></span>
            <span class="pull-right fa-btn btn-1 btn-1e"><input type="submit" value="subscribe"></span>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div><!-- end main -->
