<div class="footer_bg"><!-- start footer -->
  <div class="container">
    <div class="row  footer">
      <div class="copy text-center">
        <p class="link">
          <span>&#169; All rights reserved | Design by&nbsp;<a href="http://sumasgroup.com/"> SumasGroup</a></span></p>
      </div>
    </div>
  </div>
</div>
