
<div class="col-md-2" style="margin-left: 90px;">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <div class="panel-heading "> <span class="glyphicon glyphicon-star"></span>Student Panel</div>
            <ul class="nav nav-stacked">
<li class="<%= 'active' if current_page?( new_search_path) %>"><%= link_to "Assingments",  new_search_path %></li>
<li class="<%= 'active' if current_page?( new_search_path) %>"><%= link_to "Questions", new_qsearch_path %></li>

                <li><a href="#">Attendence</a></li>
              <li class="<%= 'active' if current_page?( results_path) %>"><%= link_to "Results", results_path %></li>
                <li><a href="#">Time Table</a></li>
            </ul>
        </div>
    </nav>

</div>
