<!DOCTYPE html>
<html>
<head>

  <title>Sumas</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script>
			$(function() {
				$('#da-slider').cslider ({
					autoplay : true,
					bgincrement : 450
                                        });
                                   });
		</script>

	       <script>
			$(document).ready(function(){
                                  $("#owl-demo").owlCarousel({
					items : 4,
					lazyLoad : true,
					autoPlay : true,
					navigation : true,
					navigationText : ["", ""],
					rewindNav : false,
					scrollPerPage : false,
					pagination : false,
					paginationNumbers : false
				});

			});
		</script>

<div class="navbar-text">
 <% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>
</div>
</head>


<body>

<%= render :partial => "layouts/header" %>

<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>

</html>
